<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyha.system.mapper.TFollowDetailsMapper">

    <resultMap type="TFollow" id="TFollowResult">
        <id property="id" column="id"/>
        <result property="patientId" column="patient_id"/>
        <result property="patientName" column="patient_name"/>
        <result property="doctorId" column="doctor_id"/>
        <result property="doctorName" column="doctor_name"/>
        <result property="date" column="date"/>
        <result property="visitId" column="visit_id"/>
        <result property="isState" column="is_state"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="followStatus" column="follow_status"/>
    </resultMap>

    <sql id="selectTFollowVo">
        select tf.id,tf.patient_id,tf.patient_name,tf.doctor_id,tf.doctor_name,tf.date,tf.visit_id,tf.is_state,
               tf.create_time,tf.create_id,tf.update_time,tf.update_id,tf.tenant_id,tf.follow_status from t_follow tf
    </sql>

    <select id="list" parameterType="TFollow" resultMap="TFollowResult">
        <include refid="selectTFollowVo"></include>
        <where>
            tf.is_state = 1
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND tf.create_time &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND tf.create_time &lt;= #{params.endTime}
            </if>
            ${params.dataScope}
        </where>
    </select>

    <select id="selectTFollowListById"  parameterType="Long" resultMap="TFollowResult">
        <include refid="selectTFollowVo"></include>
        <where>
            tf.id = #{id}
            and tf.is_state = 1
        </where>
    </select>

    <insert id="add" parameterType="TFollow" useGeneratedKeys="true" keyProperty="id">
        insert into t_follow(
        <if test="patientId != null">patient_id,</if>
        <if test="patientName != null and patientName != ''">patient_name,</if>
        <if test="followStatus != null">follow_status,</if>
        <if test="isState != null">is_state,</if>
        <if test="date != null">date,</if>
        create_time
        )values (
        <if test="patientId != null">#{patientId},</if>
        <if test="patientName != null and patientName != ''">#{patientName},</if>
        <if test="followStatus != null">#{followStatus},</if>
        <if test="isState != null">#{isState},</if>
        <if test="date != null">#{date},</if>
        sysdate()
        )
    </insert>

    <update id="edit" parameterType="TFollow">
        update t_follow tf
        <set>
            <if test="date != null">tf.date = #{date},</if>
            <if test="visitId = null">tf.visit_id = #{visitId},</if>
            <if test="followStatus != null">tf.follow_status = #{followStatus},</if>
            tf.update_time = sysdate()
        </set>
        where tf.id = #{id}
    </update>

    <delete id="remove" parameterType="TFollow">
        delete from t_follow where id = #{id}
    </delete>

    <delete id="removeByIds" parameterType="Long">
        delete from t_follow where id = #{id}
    </delete>

</mapper>